@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import url("https://use.fontawesome.com/releases/v5.7.2/css/all.css");
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Pacifico|Roboto+Slab|Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Gaegu');

// Definition of variables
$primary: #32c3ff;

// --------------------
// Style reusable for all components
body {
  margin: 0;
  padding: 0;
  background-color: #EDF1F4;
  font-family: 'Roboto Slab', serif;
  text-align: center;
}

.info {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  background-color: #5776e9;
  color: white;
}

.info.info-danger {
  background-color: #e73f3f;
}

// --------------------
// Style for App component
.App {
  font-family: 'Roboto Slab', serif;
  text-align: center;

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }

  .App-header {
    background-color: $primary;
    padding: 20px;
    color: white;

    a {
      color: white;
      padding: 0 5px;
      text-decoration: unset;
    }

    a.active {
      font-weight: bold;
    }
  }

  .App-title {
    font-size: 1.5em;
  }

  .App-intro {
    font-size: large;
  }
}

// --------------------
// Style for Home component
.Home {
  p {
    font-size: 1.2em;
  }
}

.header {
  display: flex;
  align-items: center;
}

h2 {
    margin: 30px;
    font-size: 50px;
    font-family: 'Gaegu', cursive;  
}
  
.header img {
  width: 30px;
}

.home-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.left-container {
  width: 300px;
  text-align: left;
}

.home-image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  // align-items: baseline;
}

.circular {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  box-shadow: 5px 5px 10px silver;
}
.circular img {
  min-width: 100%;
  min-height: 100%;
  // xwidth: auto;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

// mapbox GL container
.map {
  width: 600px;
  height: 600px
}


//style for navbar
.nav {
  background-color: #32c3ff
}


//style for petCard
.petCardContainer{
  border: 1px solid red;
  padding: 10px;
  margin-top: 100px;
}

.petCard{
  border: 1px solid green;
}
.oauth-container {
  max-width: 225px;
  max-height: 40px;
  text-align: center;
  margin: auto
}

.provider-name {
  padding: 5px;
}