@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://use.fontawesome.com/releases/v5.7.2/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Pacifico|Roboto+Slab|Ubuntu");
@import url("https://fonts.googleapis.com/css?family=Gaegu");
// Navbar
nav {
  font-family: "Gaegu", cursive;
  line-height: 40px;
  font-size: 2rem;
  padding: 10px;
  background-color: #f8f9fa;
}

nav > div {
  width: 300px;
}

.navbar-link {
  i {
    color: gray;
  }
}

.active {
  i {
    color: black;
  }
}

// Style for Home component
.automargin {
  margin: auto;
}

.Home {
  p {
    font-size: 1.2em;
  }
}

.header {
  display: flex;
  align-items: center;
}

h1 {
  margin: 30px; // font-size: 50px;
  font-family: "Gaegu", cursive;
}

.header img {
  width: 30px;
}

.home-container {
  display: flex;
  flex-direction: row;
  justify-content: center; // align-items: center;
}

.left-container {
  width: 300px;
  margin: 20px;
  text-align: left;
}

.circular {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  box-shadow: 5px 5px 10px silver;
}

.circular img {
  height: 300px;
  width: 300px;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); // align-items: baseline;
}

// mapbox GL container
.map {
  width: 600px;
  height: 600px;
}

// pet card and crud
.pet-card {
  width: 450px;
  height: 250px;
  border: 1px solid black;
  text-align: justify;
}

.pet-image-wrapper {
  width: 150px;
  height: 150px;
  margin: 25% 0;
  border: 1px solid black;
}

.pet-details {
  list-style: none;
  padding-top: 5px;
}

.pet-description {
  padding: 10px;
}

.add-pet-button {
  width: 450px;
  height: 250px;
}

.text-wrap {
  word-wrap: break-word;
}

//style for navbar
.nav {
  background-color: #32c3ff;
}

//style for petCard
.petCardContainer {
  border: 1px solid red;
  padding: 10px;
  margin-top: 100px;
}

.small-btn {
  width: 20px;
  height: 20px;
}

.petCard {
  border: 1px solid green;
}

.loginsignup-wrapper {
  width: 220px;
  height: 240px;
}

.connection-icon {
  // border-radius: 100%;
  width: 100px;
  height: 100px;
}

.btn-primary:hover {
  background-color: #4285f4;
}

.login-wrapper {
  max-width: 500px;
  height: auto;
  margin: auto;
  padding-top: 10%;
  text-align: left;
}

.loginsignup-main {
  margin-top: 10%;
}

#proceed-with {
  padding: 10px 0;
}

.profile-pic {
  height: 100%;
  max-height: 250px;
  width: 100%;
  max-width: 250px;
  border-radius: 50%;
}

.addpicture {
  margin-bottom: 10px;
}

.centered0 {
  width: 100%;
  text-align: center;
}

.right {
  text-align: right;
}

.clearfix {
  clear: both;
}
#cameraContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

#cameraimg {
  height: 6vh;
  width: 3.5vw;
}

#test {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

#logo {
  padding-right: 15px;
}
